<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{admin/layout/frame.html}">

<div class="content container-fluid" layout:fragment="main">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <ul class="list-inline breadcrumb float-right">
                    <li class="list-inline-item"><a href="/classSession/all">Class list</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="aboutprofile-sidebar">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                            <div class="aboutme-profile mt-4">
                                <div class="card">
                                    <div class="page-title">
                                        <h4>Class General Information</h4>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><b>Course Title</b>
                                                <a th:href="@{'/course/view/'+ ${classSession.course.id}}"
                                                   class="float-right"
                                                   th:text="${classSession.course.id} +'-'+${classSession.course.name}"></a>
                                            </li>
                                            <li class="list-group-item"><b>Course Level</b>
                                                <a href="#" class="float-right"
                                                   th:text="${classSession.course.courseLevel.level}"></a>
                                            </li>
                                            <li class="list-group-item"><b> Credit</b>
                                                <a href="#" class="float-right"
                                                   th:text="${classSession.course.creditTheory} +'(theory) + '+ ${classSession.course.creditLab} + '(lab)'"> </a>
                                            </li>
                                            <li class="list-group-item"><b>Instructor </b>
                                                <a th:href="@{'/instructor/view/'+ ${classSession.instructorId.id}}"
                                                   class="float-right"
                                                   th:text="${classSession.instructorId.name}"> </a>
                                            </li>
                                            <li class="list-group-item"><b>Group</b>
                                                <a href="#" class="float-right"
                                                   th:text="${classSession.groupTheory}"></a>
                                            </li>
                                            <li class="list-group-item"><b>Semester - Academic Year</b>
                                                <a href="#" class="float-right"
                                                   th:text="${classSession.semester} +'-'+ ${classSession.academicYear}"></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                            <div class="profile-content">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <!-- Nav tabs -->
                                            <ul class="nav customtab">
                                                <li class="nav-item"><a href="#" class="nav-link active show">Assessment
                                                    Tools</a></li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane active show">
                                                    <div id="biography" class="biography">
                                                        <table class="table table-striped custom-table" id="datatable">
                                                            <thead>
                                                            <tr>
                                                                <th style="min-width:50px;">Description</th>
                                                                <!--                                                                <p th:each="ca :${courseAssessment}">-->
                                                                <!--                                                                <th th:text="${ca.assessment.type} + ':' + ${ca.percentage} +'%' ">-->
                                                                </th>
                                                                </p>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <!--                                                            <tr th:each="lo : ${loList}">-->
                                                            <!--                                                                <td th:text="${lo.getValue()}"></td>-->
                                                            <!--                                                                <th th:each="pe : ${assessmentTools.get(lo.getKey())}"></th>-->
                                                            <!--                                                            </tr>-->
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <!-- Nav tabs -->
                                            <ul class="nav customtab">
                                                <li class="nav-item"><a href="#" class="nav-link active show">ABET
                                                    mapping table</a></li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane active show">
                                                    <div id="biography" class="biography">
                                                        <table class="table table-striped custom-table" id="datatable">
                                                            <thead>
                                                            <tr>
                                                                <th style="min-width:50px;">LearningOutcome</th>
                                                                <th style="min-width:50px;">1</th>
                                                                <th style="min-width:50px;">2</th>
                                                                <th style="min-width:50px;">3</th>
                                                                <th style="min-width:50px;">4</th>
                                                                <th style="min-width:50px;">5</th>
                                                                <th style="min-width:50px;">6</th>
                                                                </th>
                                                                </p>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <!--                                                            <tr th:each="lo : ${loList}">-->
                                                            <!--                                                                <td th:text="${lo.getValue()}"></td>-->
                                                            <!--                                                                <th th:each="pe : ${assessmentTools.get(lo.getKey())}"></th>-->
                                                            <!--                                                            </tr>-->
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <!-- Nav tabs -->
                                            <ul class="nav customtab">
                                                <li class="nav-item"><a href="#" class="nav-link active show">Opened
                                                    classes</a></li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane active show">
                                                    <div id="biography" class="biography">
                                                        <table class="table table-striped custom-table" id="datatable">
                                                            <thead>
                                                            <tr>
                                                                <th style="min-width:50px;">Student ID</th>
                                                                <th style="min-width:50px;">Student Name</th>
                                                                <th style="min-width:50px;">In-class Score</th>
                                                                <th style="min-width:50px;">Midterm Score</th>
                                                                <th style="min-width:50px;">Final Score</th>
                                                                <th style="min-width:50px;">GPA</th>
                                                                <th style="min-width:50px;">Average ABET achieved (%)
                                                                </th>
                                                                <th style="min-width:50px;">View detail</th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="result : ${resultList}">
                                                                <td>
                                                                    <a th:href="@{'/student/view/'+ ${result.student.id}}"
                                                                       th:text="${result.student.id}"> </a></td>
                                                                <td th:text="${result.student.name}"></td>
                                                                <td th:text="${result.inClassScore}"></td>
                                                                <td th:text="${result.midScore}"></td>
                                                                <td th:text="${result.finalScore}"></td>
                                                                <td th:text="${result.gpa}"></td>
                                                                <td th:text="${result.abetScore}"></td>
                                                                <td class="text-right">
                                                                    <a th:href="@{'/result/detailForStudent/'+ ${classSession.id} +'/'+ ${result.student.id}}"
                                                                       class="btn btn-primary btn-sm mb-1">
                                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                                    </a>&nbsp;&nbsp;&nbsp;
                                                                    <!--                                                                    <a th:href="@{'edit/' + ${cl.id}}" class="btn btn-primary btn-sm mb-1">-->
                                                                    <!--                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>-->
                                                                    <!--                                                                    </a>&nbsp;&nbsp;&nbsp;-->
                                                                    <!--                                                                    <a th:href="@{'delete/' + ${cl.id}}" class="btn btn-danger btn-sm mb-1 btn-delete">-->
                                                                    <!--                                                                        <i class="fa fa-trash" aria-hidden="true"></i>-->
                                                                    <!--                                                                    </a>-->
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>