<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{admin/layout/frame.html}">
<div layout:fragment="main">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <h5 class="text-uppercase">CLASS LIST</h5>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                    <ul class="list-inline breadcrumb float-right">
                        <li class="list-inline-item"><a href="#">Home</a></li>
                        <li class="list-inline-item"><a href="#">Class</a></li>
                        <li class="list-inline-item"> Class list</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-3">

            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
                <a href="" class="btn btn-primary float-right btn-rounded"><i class="fa fa-plus"></i> Add Class</a>
            </div>
        </div>
        <div class="content-page">
            <div class="row">
                <div class="col-md-12">
                    <!--                @if ( Session::has('flag') )-->
                    <!--                <div class="alert alert-{{Session::get('flag')}} alert-dismissible fade show" role="alert">-->
                    <!--                    <strong>{{ Session::get('key') }}!</strong> {{ Session::get('message') }}-->
                    <!--                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                    <!--                        <span aria-hidden="true">&times;</span>-->
                    <!--                    </button>-->
                    <!--                </div>-->
                    <!--                @endif-->
                    <table class="table table-striped custom-table" id="datatable">
                        <thead>
                        <tr>
                            <!--                        <th style="min-width:70px;">Course Name </th>-->
                            <!--                        <th style="min-width:50px;">Course Title</th>-->
                            <!--                        <th style="min-width:50px;">Lecturer</th>-->
                            <!--                        <th style="min-width:50px;">Credit</th>-->
                            <!--                        <th style="min-width:50px;">Semester</th>-->
                            <!--                        <th style="min-width:50px;">Year</th>-->
                            <!--                        <th class="text-right">Action</th>-->

                            <th>ID</th>
                            <th>Instructor</th>
                            <th>Course</th>
                            <th>Group</th>
                            <th>Semester</th>
                            <th>Academic Year</th>
                            <th class ="text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <!--                        <td>-->
                            <!--                            <h2><a href="{{ route('admin-get-course-detail', ['id' => $course->id]) }}" class="avatar text-white">{{ $course->name[0] }}</a></h2>-->
                            <!--                            <h2><a href="{{ route('admin-get-course-detail', ['id' => $course->id]) }}">{{ $course->name }}</a></h2>-->
                            <!--                        </td>-->
                        <tr th:each="cl : ${classSessionList}">
                            <td th:text="${cl.id}">Id</td>
                            <td th:text="${cl.instructorId.name}">Name</td>
                            <td th:text="${cl.course.name}">Id</td>
                            <td th:text="${cl.groupTheory}">Name</td>
                            <td th:text="${cl.semester}">Name</td>
                            <td th:text="${cl.academicYear}">Name</td>

                            <td class="text-right">
                                <a th:href="@{'view/'+ ${cl.id}}" class="btn btn-primary btn-sm mb-1">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>&nbsp;&nbsp;&nbsp;
                                <a th:href="@{'edit/' + ${cl.id}}" class="btn btn-primary btn-sm mb-1">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>&nbsp;&nbsp;&nbsp;
                                <a th:href="@{'delete/' + ${cl.id}}" class="btn btn-danger btn-sm mb-1 btn-delete">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                            <!--                        <td class="text-right" >-->
                            <!--                            <a href="{{ route('admin_get_edit_course', ['id' => $course->id]) }}" class="btn btn-primary btn-sm mb-1">-->
                            <!--                                <i class="fa fa-pencil" aria-hidden="true"></i>-->
                            <!--                            </a>-->
                            <!--                            <button type="submit" data-toggle="modal" data-id="{{ $course->id }}" data-target="#delete_employee" class="btn btn-danger btn-sm mb-1 btn-delete">-->
                            <!--                                <i class="fa fa-trash" aria-hidden="true"></i>-->
                            <!--                            </button>-->
                            <!--                        </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="delete_employee" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-md">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Course</h4>
                </div>
                <form action="{{ route('admin_delete_course') }}" method="post">
                    {{ csrf_field() }}
                    <input type="hidden" id="course_id" name="course_id">
                    <div class="modal-body card-box">
                        <p>Are you sure want to delete this?</p>
                        <div class="m-t-20"><a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script th:inline="javascript">
        $(function () {
            $('.btn-delete').on('click', function () {
                console.log($(this).data('id'));
                $('#course_id').val($(this).data('id'));
            });
        })
    </script>
</div>
</html>