<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/frame.html}">

<div class="content container-fluid" layout:fragment="main">
    <p>Heloo</p>
    <!--    <div class="page-header">-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-7 col-md-12 col-sm-12 col-12">-->
    <!--                <h5 class="text-uppercase">course detail</h5>-->
    <!--            </div>-->
    <!--            <div class="col-lg-5 col-md-12 col-sm-12 col-12">-->
    <!--                <ul class="list-inline breadcrumb float-right">-->
    <!--                    <li class="list-inline-item"><a href="{{route('admin_dashboard')}}">Home</a></li>-->
    <!--                    <li class="list-inline-item"><a href="{{route('admin_courses')}}">Courses</a></li>-->
    <!--                    <li class="list-inline-item"> Course detail</li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="page-content">-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-6 col-md-6 col-sm-6 col-12">-->
    <!--                <div class="card">-->
    <!--                    <div class="page-title">-->
    <!--                        <div class="row">-->
    <!--                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">-->
    <!--                                <div class="page-title">Course Detail</div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="card-body">-->
    <!--                        <div class="row">-->
    <!--                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">-->
    <!--                                <ul class="list-group list-group-flush">-->
    <!--                                    <li class="list-group-item list-group-item-info">-->
    <!--                                        Course Name: {{ $course->name }}-->
    <!--                                    </li>-->
    <!--                                    <li class="list-group-item">Course Title : {{ $course->course_title }}</li>-->
    <!--                                    <li class="list-group-item list-group-item-info">Lecturer : {{ $course->user->name }}</li>-->
    <!--                                    <li class="list-group-item">Credit : {{ $course->credit }}</li>-->
    <!--                                    <li class="list-group-item list-group-item-info">Semester : {{ $course->semester }}</li>-->
    <!--                                    <li class="list-group-item">School Year : {{ $course->year }}</li>-->
    <!--                                    <li class="list-group-item list-group-item-info">Quiz Percent : {{ $course->detail->quiz }}%</li>-->
    <!--                                    <li class="list-group-item">Present Percent : {{ $course->detail->present }}%</li>-->
    <!--                                    <li class="list-group-item list-group-item-info">Mid Percent : {{ $course->detail->mid }}%</li>-->
    <!--                                    <li class="list-group-item">Final Percent : {{ $course->detail->final }}%</li>-->
    <!--                                </ul>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
</html>