<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{admin/layout/frame.html}">
<div layout:fragment="main">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <h5 class="text-uppercase">INSTRUCTOR LIST</h5>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                    <ul class="list-inline breadcrumb float-right">
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-3">

            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
                <a href="" class="btn btn-primary float-right btn-rounded"><i class="fa fa-plus"></i> Add Course</a>
            </div>
        </div>
        <div class="content-page">
            <div class="row">
                <div class="col-md-12">
<!--                                    @if ( Session::has('flag') )-->
<!--                                    <div class="alert alert-{{Session::get('flag')}} alert-dismissible fade show" role="alert">-->
<!--                                        <strong>{{ Session::get('key') }}!</strong> {{ Session::get('message') }}-->
<!--                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                                            <span aria-hidden="true">&times;</span>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                    @endif-->
                    <table class="table table-striped custom-table table-bordered" id="datatable">
                        <thead>
                        <tr>
                            <th style="min-width:70px;">Course ID</th>
                            <th style="min-width:50px;">Course Name</th>
                            <th style="min-width:50px;">Course Level</th>
                            <th style="min-width:50px;">Credit Theory</th>
                            <th style="min-width:50px;">Credit Lab</th>
                            <th class="text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="course : ${courses}">
                            <td th:text="${course.id}"></td>
                            <td th:text="${course.name}"></td>
                            <td th:text="${course.courseLevel.level}">Level</td>
                            <td th:text="${course.creditTheory}"></td>
                            <td th:text="${course.creditLab}"></td>
                            <td class="text-right">
                                <a th:href="@{'view/'+ ${course.id}}" class="btn btn-primary btn-sm mb-1">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>&nbsp;&nbsp;&nbsp;
                                <a th:href="@{'edit/' + ${course.id}}" class="btn btn-primary btn-sm mb-1">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>&nbsp;&nbsp;&nbsp;
                                <a th:href="@{'delete/' + ${course.id}}" class="btn btn-danger btn-sm mb-1 btn-delete">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</html>