<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{admin/layout/frame.html}">
<div layout:fragment="main">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <h5 class="text-uppercase">INSTRUCTOR LIST</h5>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                    <ul class="list-inline breadcrumb float-right">
<!--                        <li class="list-inline-item"><a href="admin/dashboard">Home</a></li>-->
<!--                        <li class="list-inline-item"><a href="/instructor/all">Instructor</a></li>-->
<!--                        <li class="list-inline-item"> Instructor list</li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-3">
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
                <a href=/instructor/add class="btn btn-primary float-right btn-rounded"><i class="fa fa-plus"></i> Add Instructor</a>
            </div>
        </div>
        <div class="content-page">
            <div class="row">
                <div class="col-md-12">
                    <!--                @if ( Session::has('flag') )-->
                    <!--                <div class="alert alert-{{Session::get('flag')}} alert-dismissible fade show" role="alert">-->
                    <!--                    <strong>{{ Session::get('key') }}!</strong> {{ Session::get('message') }}-->
                    <!--                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                    <!--                        <span aria-hidden="true">&times;</span>-->
                    <!--                    </button>-->
                    <!--                </div>-->
                    <!--                @endif-->
                    <table class="table table-striped custom-table table-bordered" id="datatable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Instructor Name</th>
                            <th>Email</th>
                            <th class="text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--                        <tr>-->
<!--                            <td>-->
<!--                                <h2><a href="{{ route('admin-get-course-detail', ['id' => $course->id]) }}"-->
<!--                                       class="avatar text-white">{{ $course->name[0] }}</a></h2>-->
<!--                                <h2><a href="{{ route('admin-get-course-detail', ['id' => $course->id]) }}">{{-->
<!--                                    $course->name }}</a></h2>-->
<!--                            </td>-->
                        <tr th:each="instructor : ${instructorList}">
                            <td th:text="${instructor.id}"></td>
                            <td th:text="${instructor.degree + instructor.name}"></td>
                            <td th:text="${instructor.email}"></td>

                            <td class="text-right">
                                <a th:href="@{'view/'+ ${instructor.id}}" class="btn btn-primary btn-sm mb-1">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>&nbsp;&nbsp;&nbsp;
                                <a th:href="@{'edit/' + ${instructor.id}}" class="btn btn-primary btn-sm mb-1">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>&nbsp;&nbsp;&nbsp;
                                <a th:href="@{'delete/' + ${instructor.id}}"
                                   class="btn btn-danger btn-sm mb-1 btn-delete">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>