<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{admin/layout/frame.html}">

<div class="content container-fluid" layout:fragment="main">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 col-12">
        <h5 class="text-uppercase"> Student's result in class</h5>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 col-12">
        <ul class="list-inline breadcrumb float-right">
          <li class="list-inline-item"><a href="/classSession/all">Home</a></li>
          <li class="list-inline-item"><a th:href="@{'/classSession/view/'+ ${result.classSession.id}}">Back to
              class</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-page">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="aboutprofile-sidebar">
          <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
              <div class="aboutme-profile mt-4">
                <div class="card">
                  <div class="page-title">
                    <h4>General Information</h4>
                  </div>
                  <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Course</b>
                            <a th:href="@{'/course/view/'+ ${result.classSession.course.id}}" class="float-right"
                               th:text="${result.classSession.course.id} +'-'+${result.classSession.course.name}"></a>
                        </li>
                      <li class="list-group-item"><b>Student</b>
                        <a th:href="@{'/student/view/'+ ${result.student.id}}" class="float-right"
                           th:text="${result.student.id} +'-'+${result.student.name}"></a>
                      </li>
                        <li class="list-group-item"><b> Instructor</b>
                            <a th:href="@{'/instructor/view/'+ ${result.classSession.instructorId.id}}"
                               class="float-right"
                               th:text="${result.classSession.instructorId.degree} + ${result.classSession.instructorId.name}"> </a>
                        </li>
                      <li class="list-group-item"><b>Semester - Academic Year</b>
                          <a href="#" class="float-right"
                             th:text="'Semester '+ ${result.classSession.semester} +'-'+ ${result.classSession.academicYear}"></a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="aboutme-profile mt-4">
                <div class="card">
                  <div class="page-title">
                    <h4>RESULT</h4>
                  </div>
                  <div class="card-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><b>Course Outcome Score (GPA)</b>
                        <a href="#" class="float-right"
                           th:text="${result.gpa}"></a>
                      </li>
                      <li class="list-group-item"><b>Student Outcome (%)</b>
                        <a href="#" class="float-right"
                           th:text="${result.abetScore}"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
              <div class="profile-content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <!-- Nav tabs -->
                      <ul class="nav customtab">
                        <li class="nav-item"><a href="#" class="nav-link active show">Course Outcome Score</a></li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane active show">
                          <div id="biography" class="biography">
                            <table class="table table-striped custom-table" id="datatable">
                              <thead>
                              <tr>
                                <th style="min-width:50px;">In-class Score</th>
                                <th style="min-width:50px;">Midterm Score</th>
                                <th style="min-width:50px;">Final Score</th>
                         </tr>
                              </thead>
                              <tbody>
                                <th th:text ="${result.inClassScore}"></th>
                                <th th:text ="${result.midScore}"></th>
                                <th th:text ="${result.finalScore}"></th>
                              </tbody>

                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <!-- Nav tabs -->
                      <ul class="nav customtab">
                        <li class="nav-item"><a href="#" class="nav-link active show">Student Outcome Score (%)</a></li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane active show">
                          <div id="biography" class="biography">
                            <table class="table table-striped custom-table" id="datatable">
                              <thead>
                              <tr>
                                <th style="min-width:50px;"> Criteria 1</th>
                                <th style="min-width:50px;"> Criteria 2</th>
                                <th style="min-width:50px;"> Criteria 3</th>
                                <th style="min-width:50px;"> Criteria 4</th>
                                <th style="min-width:50px;"> Criteria 5</th>
                                <th style="min-width:50px;"> Criteria 6<th>

                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <th style="min-width:50px;" th:text="${result.abet1}"></th>
                                <th style="min-width:50px;" th:text="${result.abet2}"></th>
                                <th style="min-width:50px;" th:text="${result.abet3}"></th>
                                <th style="min-width:50px;" th:text="${result.abet4}"></th>
                                <th style="min-width:50px;" th:text="${result.abet5}"></th>
                                <th style="min-width:50px;" th:text="${result.abet6}"></th>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>