<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
</head>
<body>
<h2>App Title</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <h1 th:if="courses!=null">
        <tr th:each="c : ${courses}">
            <td th:text="${c.id}">Id</td>
            <td th:text="${c.name}">Name</td>
        </tr>
    </h1>



        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>

    </tbody>
</table>
</body>
</html>